{% extends 'shop_base.html' %}

{% load static %}

{% block title %}
    Shop
{% endblock title %}

{% block content %}

<section class="souvenir-hero-section" >
    <div class="destination-hero-img souvenir" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
    <div class="souvenir-items top-souvenir">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
    </div>
</section>

<section class="souvenir-items-section">
    <h3>New arrivals</h3>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
    </div>
</section>

<section class="discount-section">
    <h3>Exciting offers</h3>
    <p>up to 20% off on your souvenirs</p>
    <a href="">shop now</a>
</section>

<section class="souvenir-items-section">
    <h3>Deals just for you</h3>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
                <div class="souvenir-discount">8% off</div>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
                <div class="souvenir-discount">8% off</div>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
                <div class="souvenir-discount">8% off</div>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
                <div class="souvenir-discount">8% off</div>
            </div>
        </a>
    </div>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
                <div class="souvenir-discount">8% off</div>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
                <div class="souvenir-discount">8% off</div>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
                <div class="souvenir-discount">8% off</div>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
                <div class="souvenir-discount">8% off</div>
            </div>
        </a>
    </div>
</section>

<section class="souvenir-items-section keep-shoping">
    <h3>Keep shoping for</h3>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
    </div>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
    </div>
</section>

<section class="souvenir-items-section">
    <h3>Our top picks</h3>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
    </div>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
    </div>
</section>

<section class="souvenir-items-section african-look">
    <h3 class="heading">rock that african look</h3>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
    </div>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                <h3>Name</h3>
            </div>
        </a>
    </div>
</section>

<section class="souvenir-items-section">
    <h3>Perfect Gift to give</h3>
    <div class="souvenir-items">
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
        <a href="" class="souvenir-profile">
            <div class="souvenir-profile-img" style="background-image: url('{% static 'images/img24.jpeg' %}')"></div>
            <div class="souvenir-profile-detail">
                fancy colourful baskets
            </div>
        </a>
    </div>
</section>

<section class="souvenir-photo-section">
    <div class="souvenir-bg-img" style="background-image: url('{% static 'images/img12.jpg' %}')">
        <h1>life is best lived with memories</h1>
        <div class="souvenir-bg-details">
            Live out a desert fantasy on safari in Namibia. Climb ancient dunes of red sand, rising out of the Namib Desert. Feel the thrill of tracking desert-adapted black rhinos on foot with our expert guides. Wander along the Skeleton Coast, wild, windswept and seemingly stretching to infinity. Marvel at the wonders of Damaraland's Petrified Forest with trees as old as 280 million years.
        </div>
    </div>
</section>


{% include 'partials/client/client_footer.html' %}
{% endblock content %}

