{% extends 'client_base.html' %}

{% load static %}

{% block title %}
    About - Scared Gem Safaris
{% endblock title %}

{% block content %}

<section class="collaboration-hero-section">
    <h1>Our Collaborations</h1>
</section>

<section class="collaborating-company-logos-section">
    <div class="collaborators-profile" style="background-image: url('{% static 'images/logo.png' %}')">
    </div>
    <div class="collaborators-profile" style="background-image: url('{% static 'images/logo.png' %}')">
    </div>
    <div class="collaborators-profile" style="background-image: url('{% static 'images/logo.png' %}')">
    </div>
</section>

<section class="partnering-companies-section">
    <h1>Our Partners</h1>
    <div class="partnering-companies-details">
        Our global partner network helps us bring to life our incomparable Wilderness journeys. We align with the very best airlines, non-profit organisatons, travel agencies, apparel brands and more all with a focus on sustainable practices and making a positive impact.
        <br>
        Wilderness exists to make sure the world will always have a version of its iconic wild places that is unfenced, untamed and unpredictable. It’s not our reputation as one of the first, or the largest, in the conservation tourism space that makes us Wilderness. It’s our determined push to keep going. To keep protecting, exploring and expanding Earth’s ultimate, untamed places. And then to bring guests to discover the beating pulse of each one.
    </div>
    <hr>
    <h1>Accomodation</h1>
    <div class="partnering-img" style="background-image: url('{% static 'images/img25.jpg' %}')"></div>
    <div class="partnering-companies-details">
        Our global partner network helps us bring to life our incomparable Wilderness journeys. We align with the very best airlines, non-profit organisatons, travel agencies, apparel brands and more all with a focus on sustainable practices and making a positive impact.
        <br>
        Wilderness exists to make sure the world will always have a version of its iconic wild places that is unfenced, untamed and unpredictable. It’s not our reputation as one of the first, or the largest, in the conservation tourism space that makes us Wilderness. It’s our determined push to keep going. To keep protecting, exploring and expanding Earth’s ultimate, untamed places. And then to bring guests to discover the beating pulse of each one.
    </div>
    <hr>
    <h1>Vehicle hire</h1>
    <div class="partnering-img" style="background-image: url('{% static 'images/img14.jpg' %}')"></div>
    <div class="partnering-companies-details">
        Our global partner network helps us bring to life our incomparable Wilderness journeys. We align with the very best airlines, non-profit organisatons, travel agencies, apparel brands and more all with a focus on sustainable practices and making a positive impact.
        <br>
        Wilderness exists to make sure the world will always have a version of its iconic wild places that is unfenced, untamed and unpredictable. It’s not our reputation as one of the first, or the largest, in the conservation tourism space that makes us Wilderness. It’s our determined push to keep going. To keep protecting, exploring and expanding Earth’s ultimate, untamed places. And then to bring guests to discover the beating pulse of each one.
    </div>
    <hr>
    <h1>Community Outreach</h1>
    <div class="partnering-img" style="background-image: url('{% static 'images/img17.jpg' %}')"></div>
    <div class="partnering-companies-details">
        Our global partner network helps us bring to life our incomparable Wilderness journeys. We align with the very best airlines, non-profit organisatons, travel agencies, apparel brands and more all with a focus on sustainable practices and making a positive impact.
        <br>
        Wilderness exists to make sure the world will always have a version of its iconic wild places that is unfenced, untamed and unpredictable. It’s not our reputation as one of the first, or the largest, in the conservation tourism space that makes us Wilderness. It’s our determined push to keep going. To keep protecting, exploring and expanding Earth’s ultimate, untamed places. And then to bring guests to discover the beating pulse of each one.
    </div>
    <hr>

</section>


<section class="counter-section">
    <div class="counter-profile">
        <div class="counter-icons" style="background-image: url('{% static 'images/icon1.png' %}')"></div>
        <div class="counter-number">6</div>
        <div class="counter-name">African countries</div>
    </div>
    <div class="counter-profile">
        <div class="counter-icons" style="background-image: url('{% static 'images/icon4.png' %}')"></div>
        <div class="counter-number">60+</div>
        <div class="counter-name">Camps and lodges</div>
    </div>
    <div class="counter-profile">
        <div class="counter-icons" style="background-image: url('{% static 'images/icon3.png' %}')"></div>
        <div class="counter-number">100+</div>
        <div class="counter-name">Staff employed</div>
    </div>
    <div class="counter-profile">
        <div class="counter-icons" style="background-image: url('{% static 'images/icon2.png' %}')"></div>
        <div class="counter-number">100K+</div>
        <div class="counter-name">Guests hosted per year</div>
    </div>
</section>


{% include 'partials/client/client_footer.html' %}

{% endblock content %}