{% extends 'client_base.html' %}

{% load static %}

{% block title %}
    Our Team
{% endblock title %}

{% block content %}

<section class="main-destination-section" >
    <div class="destination-hero-img about-us-hero-img" style="background-image: url('{% static 'images/img14.jpg' %}')">
        <h1>meet the dedicated team</h1>
    </div>
</section>

<section class="our-team-quote">
    <p>"The world is a book, and those who do not travel read only one page. Travel is fatal to prejudice, bigotry, and narrow-mindedness, and many of our people need it sorely on these accounts. Broad, wholesome, charitable views of men and things cannot be acquired by vegetating in one little corner of the earth all one's lifetime."</p>
    <cite>- Mark Twain</cite>
</section>

<section class="manifesto-section team-manifesto">
    <div class="manifesto-img" style="background-image: url('{% static 'images/img26.jpg' %}')"></div>

    <div class="manifesto-content team-content">
        <h1>Our commitment to quality service delivery</h1>
        <div class="manifesto-details">As a leading conservation and hospitality company, we focus on immersing our guests in our many fascinating environments. Guiding them through each expansive private concession. Creating intimate encounters between them, nature and culture. And ultimately, increasing the world’s wilderness by involving more and more people in our purpose.</div>
    </div>
</section>

<section class="experiences-packages-section leadership">
    <h1>meet the team</h1>
    <h3>leadership</h3>
    <div class="experiences-packages">
        <div class="experiences-packages-profile leadership-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img26.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <hr>
                <div class="experiences-packages-profile-locations">Position</div>
            </div>
        </div>
        <div class="experiences-packages-profile leadership-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img26.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <hr>
                <div class="experiences-packages-profile-locations">Position</div>
            </div>
        </div>
        <div class="experiences-packages-profile leadership-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img26.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <hr>
                <div class="experiences-packages-profile-locations">Position</div>
            </div>
        </div>
        <div class="experiences-packages-profile leadership-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img26.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <hr>
                <div class="experiences-packages-profile-locations">Position</div>
            </div>
        </div>
    </div>
    <h3>feild team</h3>
    <div class="experiences-packages">
        <div class="experiences-packages-profile fieldteam-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img26.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <div class="experiences-packages-profile-locations">Position</div>
                <hr>
            </div>
        </div>
        <div class="experiences-packages-profile fieldteam-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img26.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <div class="experiences-packages-profile-locations">Position</div>
                <hr>
            </div>
        </div>
        <div class="experiences-packages-profile fieldteam-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img26.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <div class="experiences-packages-profile-locations">Position</div>
                <hr>
            </div>
        </div>
        <div class="experiences-packages-profile fieldteam-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img26.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <div class="experiences-packages-profile-locations">Position</div>
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="ensuarance-section">
    <h1>Ensuring Professionalism</h1>
    <div class="ensurance-content">
        At our company, we prioritize professionalism in every aspect of our operations. From our highly trained staff to our stringent quality control measures, we strive to uphold the highest standards of professionalism at all times.
        
        Our commitment to professionalism extends to our customer service, where we prioritize clear communication, prompt responses, and attentive support. We understand that professionalism is not just about delivering quality products or services but also about fostering trust and confidence with our clients.
        
        In addition to our internal policies and procedures, we also adhere to industry best practices and ethical standards to ensure that professionalism remains at the core of everything we do. We believe that by consistently demonstrating professionalism, we can build long-lasting relationships with our clients and earn their respect and loyalty.
    </div>
</section>

<section class="counter-section">
    <div class="counter-profile">
        <div class="counter-icons" style="background-image: url('{% static 'images/icon1.png' %}')"></div>
        <div class="counter-number">6</div>
        <div class="counter-name">African countries</div>
    </div>
    <div class="counter-profile">
        <div class="counter-icons" style="background-image: url('{% static 'images/icon4.png' %}')"></div>
        <div class="counter-number">60+</div>
        <div class="counter-name">Camps and lodges</div>
    </div>
    <div class="counter-profile">
        <div class="counter-icons" style="background-image: url('{% static 'images/icon3.png' %}')"></div>
        <div class="counter-number">100+</div>
        <div class="counter-name">Staff employed</div>
    </div>
    <div class="counter-profile">
        <div class="counter-icons" style="background-image: url('{% static 'images/icon2.png' %}')"></div>
        <div class="counter-number">100K+</div>
        <div class="counter-name">Guests hosted per year</div>
    </div>
</section>

<section class="bloging-article-categories blogs">
    <h1>stories and blogs</h1> 
    <div class="bloging-articles">
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>article name</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>article name</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>article name</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>article name</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
    </div>
    <a href="{% url 'client:main_blog_page' %}" class="view-all-blogs"> <i class="fas fa-angle-right"></i> View all blogs</a>

</section>

{% include 'partials/client/client_footer.html' %}
{% endblock content %}