{% load static %}

<div class="sidebar">
    <nav class="sidebar-nav">
        <div class="nav-anchor active">
            <i class="fas fa-globe"></i>
            <a href="{% url 'client:dashboard' %}">Dashboard</a>
        </div>
        <div class="nav-anchor">
            <i class="fas fa-suitcase"></i>
            <a href="">Page Management</a>
        </div>
        <div class="nav-anchor">
            <i class="fas fa-suitcase"></i>
            <a href="">Packages</a>
        </div>
        <div class="nav-anchor">
            <i class="far fa-calendar-alt"></i>
            <a href="">Bookings & Reservations</a>
        </div>
        <div class="nav-anchor">
            <i class="fas fa-chart-bar"></i>
            <a href="">Reports & Analytics</a>
        </div>
        <div class="nav-anchor">
            <i class="fas fa-cogs"></i>
            <a href="">User Settings</a>
        </div>
    </nav>
</div>
