{% extends 'client_base.html' %}

{% load static %}

{% block title %}
    Blogs
{% endblock title %}

{% block content %}

<section class="main-destination-section" >
    <div class="destination-hero-img" style="background-image: url('{% static 'images/img34.jpg' %}')">
        <h1>The Journal</h1>
    </div>
</section>

<section class="article-section">
    <div class="article-top-content">
        <h1>Why trust our article</h1>
        <div class="article-top-content-message">
            These are the stories and photographs born of Wilderness journeys. From humble beginnings some 40 years ago to the industry leaders we’ve become today, our journeys, the Wilderness family and the wildlife we work hard to protect have touched lives all over the globe.
        </div>
    </div>
    <hr>
    <div class="article-details">
        <div class="article-details-img" style="background-image: url('{% static 'images/img5.jpg' %}')"></div>
        <div class="article-details-message">
            Captivating. Immersive. Meaningful. These are the stories and photographs born of Wilderness journeys. From humble beginnings some 40 years ago to the industry leaders we’ve become today, our journeys, the Wilderness family and the wildlife we work hard to protect have touched lives all over the globe.
        </div>
    </div>
</section>

<section class="bloging-article-section">
    <form action="#" method="GET" class="bloging-article-finder">
        {% csrf_token %}
        <select name="category">
            <option value="all">All Categories</option>
            <option value="technology">Technology</option>
            <option value="business">Business</option>
            <option value="health">Health</option>
        </select>
        <div class="bloging-article-input">
            <input type="text" name="blog_finder" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>    
    
    <div class="bloging-article-categories">
        <h1>Uganda the perl of africa</h1>
        <div class="bloging-articles">
            <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
                <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
                <div class="bloging-article-profile-details">
                    <h3>article name</h3>
                    <hr>
                    <div class="bloging-article-profile-icons">
                        <button><i class="fas fa-heart"></i>12</button>
                        <button><i class="fas fa-comment"></i>2</button>
                    </div>
                </div>
            </a>
            <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
                <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
                <div class="bloging-article-profile-details">
                    <h3>article name</h3>
                    <hr>
                    <div class="bloging-article-profile-icons">
                        <button><i class="fas fa-heart"></i>12</button>
                        <button><i class="fas fa-comment"></i>2</button>
                    </div>
                </div>
            </a>
            <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
                <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
                <div class="bloging-article-profile-details">
                    <h3>article name</h3>
                    <hr>
                    <div class="bloging-article-profile-icons">
                        <button><i class="fas fa-heart"></i>12</button>
                        <button><i class="fas fa-comment"></i>2</button>
                    </div>
                </div>
            </a>
            <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
                <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
                <div class="bloging-article-profile-details">
                    <h3>article name</h3>
                    <hr>
                    <div class="bloging-article-profile-icons">
                        <button><i class="fas fa-heart"></i>12</button>
                        <button><i class="fas fa-comment"></i>2</button>
                    </div>
                </div>
            </a>
        </div>
    </div>

    
    <div class="bloging-article-categories">
        <h1>Zimbabwe</h1>
        <div class="bloging-articles">
            <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
                <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
                <div class="bloging-article-profile-details">
                    <h3>article name</h3>
                    <hr>
                    <div class="bloging-article-profile-icons">
                        <button><i class="fas fa-heart"></i>12</button>
                        <button><i class="fas fa-comment"></i>2</button>
                    </div>
                </div>
            </a>
            <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
                <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
                <div class="bloging-article-profile-details">
                    <h3>article name</h3>
                    <hr>
                    <div class="bloging-article-profile-icons">
                        <button><i class="fas fa-heart"></i>12</button>
                        <button><i class="fas fa-comment"></i>2</button>
                    </div>
                </div>
            </a>
            <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
                <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
                <div class="bloging-article-profile-details">
                    <h3>article name</h3>
                    <hr>
                    <div class="bloging-article-profile-icons">
                        <button><i class="fas fa-heart"></i>12</button>
                        <button><i class="fas fa-comment"></i>2</button>
                    </div>
                </div>
            </a>
            <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
                <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
                <div class="bloging-article-profile-details">
                    <h3>article name</h3>
                    <hr>
                    <div class="bloging-article-profile-icons">
                        <button><i class="fas fa-heart"></i>12</button>
                        <button><i class="fas fa-comment"></i>2</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="testimonial-section article-comments" id="carousel5">
        <h3>what our readers think about the articles</h3>
        <hr style="background-color: #000; padding: 1px 1px; color: #000;" >
        <div class="testimonial-slider">
            <div class="testimonial-profile active">
                <div class="testimonial">
                    When we say we're there every step of the way, we mean it, literally. From planning the perfect circuit, to private inter-camp transfers on Wilderness Air, and easing you through Customs. We’re with you on the ground, at your side, 24-7, from start to finish. Ready to take the road less travelled? Contact our Travel Designers to plan an unforgettable journey
                </div>
                <div class="testimony-name">Ed Ackerman</div>
                <div class="testimony-date">12.04.2024</div>
            </div>
            <div class="testimonial-profile">
                <div class="testimonial">
                    Our accommodation is both luxurious and authentic. We promise unrivalled comfort and exclusivity while staying true to the vibrant soul and spirit of each, unique destination. Our private game viewing areas have limits on guest numbers, meaning fewer vehicles and people, with more intimate and up-close encounters with wildlife in their natural habitat.
                </div>
                <div class="testimony-name">Isa Moner</div>
                <div class="testimony-date">02.04.2024</div>
            </div>
            <div class="testimonial-profile">
                <div class="testimonial">
                    Our journeys change lives. Not just yours but also those of our staff, communities, and the ecosystems we impact. We restore wilderness through low-volume high-value conservation tourism. Our purpose is a shared one. To ensure upliftment of local communities with help from guests, partners, donors, governments, and researchers. Our ambitions are bold. Our model is responsible, sustainable, inspiring.
                </div>
                <div class="testimony-name">Gabby Isabela</div>
                <div class="testimony-date">22.04.2024</div>
            </div>
            <button class="prev-btn">❮</button>
            <button class="next-btn">❯</button>
            <div class="dots-container"></div>
        </div>
    </div>
</section>

<section class="experience-variety-section">
    <div class="experience-variety-img"  style="background-image: url('{% static 'images/img33.jpg' %}')">
        <h1>Variety is what we offer</h1>
    </div>
    <div class="experience-variety-details">
        Our accommodation is both luxurious and authentic. We promise unrivalled comfort and exclusivity while staying true to the vibrant soul and spirit of each, unique destination. Our private game viewing areas have limits on guest numbers, meaning fewer vehicles and people, with more intimate and up-close encounters with wildlife in their natural habitat.
    </div>
    <a href=""><i class="fa fa-angle-right"></i>VIEW ALL PACKAGES</a>
</section>

{% include 'partials/client/client_footer.html' %}
{% endblock content %}