{% extends 'client_base.html' %}

{% load static %}

{% block title %}
    Experience
{% endblock title %}

{% block content %}


<section class="main-destination-section" >
    <div class="destination-hero-img" style="background-image: url('{% static 'images/img34.jpg' %}')">
        <h1>Experience East Africa</h1>
    </div>
</section>

<section class="authentic-experience-section">
    <h3>we are untamed Experiences</h3>
    <div class="authentic-experience-photos transition-imgs">
        <div class="authentic-experience-imgs main-img" style="background-image: url('{% static 'images/img31.jpg' %}')"></div>
        <div class="authentic-experience-imgs sub-img" style="background-image: url('{% static 'images/img32.jpg' %}')"></div>
    </div>
    <div class="authentic-experience-content">
        <h1>an activity to captivate your heart and soul</h1>
        <div class="authentic-experience-details">Our accommodation is both luxurious and authentic. We promise unrivalled comfort and exclusivity while staying true to the vibrant soul and spirit of each, unique destination. Our private game viewing areas have limits on guest numbers, meaning fewer vehicles and people, with more intimate and up-close encounters with wildlife in their natural habitat.</div>
    </div>
    <div class="authentic-experience-content">
        <h1>our authentic experiences</h1>
        <div class="authentic-experience-details">Our accommodation is both luxurious and authentic. We promise unrivalled comfort and exclusivity while staying true to the vibrant soul and spirit of each, unique destination. Our private game viewing areas have limits on guest numbers, meaning fewer vehicles and people, with more intimate and up-close encounters with wildlife in their natural habitat...</div>
    </div>
</section>

<section class="luxurious-experience-section">
    <video width="100%" height="100%" autoplay loop muted>
        <source src="{{ MEDIA_URL }}/media/africa.mp4" type="video/mp4">
    </video>
    <div class="safari-iconic-dropdown-section luxurious-experience">
        <div class="dropdown-btns">
            <button class="dropdown-btn" onclick="toggleDropdown(this)">birding <i class="fas fa-angle-down"></i></button>
            <button class="dropdown-btn" onclick="toggleDropdown(this)">game drives <i class="fas fa-angle-down"></i></button>
            <button class="dropdown-btn" onclick="toggleDropdown(this)">gollira trecking <i class="fas fa-angle-down"></i></button>
            <button class="dropdown-btn" onclick="toggleDropdown(this)">star gazing <i class="fas fa-angle-down"></i></button>
        </div>
        <hr>
        <div class="dropdown-content">
            <div class="dropdown-content-img" style="background-image: url('{% static 'images/img16.jpg' %}')"></div>
            <div class="dropdown-content-detail">
                <h1>incredible wildlife encounter</h1>
                <div class="dropdown-content-message">
                    Our accommodation is both luxurious and authentic. We promise unrivalled comfort and exclusivity while staying true to the vibrant soul and spirit of each, unique destination. Our private game viewing areas have limits on guest numbers, meaning fewer vehicles and people, with more intimate and up-close encounters with wildlife in their natural habitat.
                </div>
                <a href=""><i class="fa fa-angle-right"></i>view our birding</a>
            </div>
        </div>

        <div class="dropdown-content">
            <div class="dropdown-content-img" style="background-image: url('{% static 'images/img29.jpg' %}')"></div>
            <div class="dropdown-content-detail">
                <h1>incredible architecture</h1>
                <div class="dropdown-content-message">
                    Our accommodation is both luxurious and authentic. We promise unrivalled comfort and exclusivity while staying true to the vibrant soul and spirit of each, unique destination. Our private game viewing areas have limits on guest numbers, meaning fewer vehicles and people, with more intimate and up-close encounters with wildlife in their natural habitat.
                </div>
                <a href=""><i class="fa fa-angle-right"></i>view our birding</a>
            </div>
        </div>

        <div class="dropdown-content">
            <div class="dropdown-content-img" style="background-image: url('{% static 'images/img17.jpg' %}')"></div>
            <div class="dropdown-content-detail">
                <h1>magineficent culture</h1>
                <div class="dropdown-content-message">
                    Our accommodation is both luxurious and authentic. We promise unrivalled comfort and exclusivity while staying true to the vibrant soul and spirit of each, unique destination. Our private game viewing areas have limits on guest numbers, meaning fewer vehicles and people, with more intimate and up-close encounters with wildlife in their natural habitat.
                </div>
                <a href=""><i class="fa fa-angle-right"></i>view our birding</a>
            </div>
        </div>

        <div class="dropdown-content">
            <div class="dropdown-content-img" style="background-image: url('{% static 'images/img13.jpg' %}')"></div>
            <div class="dropdown-content-detail">
                <h1>our professionalism</h1>
                <div class="dropdown-content-message">
                    Our accommodation is both luxurious and authentic. We promise unrivalled comfort and exclusivity while staying true to the vibrant soul and spirit of each, unique destination. Our private game viewing areas have limits on guest numbers, meaning fewer vehicles and people, with more intimate and up-close encounters with wildlife in their natural habitat.
                </div>
                <a href=""><i class="fa fa-angle-right"></i>view our birding</a>
            </div>
        </div>
    </div> 
</section>

<section class="experiences-packages-section">
    <h1>browse for an experience</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="experience-input">
            <input type="text" name="search_experince" placeholder="Keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
    <div class="experiences-packages">
        <a href="{% url 'client:particular_experience_page' %}" class="experiences-packages-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img9.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <hr>
                <div class="experiences-packages-profile-locations">Uganda, Kenya, Tanzania</div>
            </div>
        </a>
        <a href="{% url 'client:particular_experience_page' %}" class="experiences-packages-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img6.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <hr>
                <div class="experiences-packages-profile-locations">Uganda, Kenya, Tanzania</div>
            </div>
        </a>
        <a href="{% url 'client:particular_experience_page' %}" class="experiences-packages-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img29.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <hr>
                <div class="experiences-packages-profile-locations">Uganda, Kenya, Tanzania</div>
            </div>
        </a>
        <a href="{% url 'client:particular_experience_page' %}" class="experiences-packages-profile">
            <div class="experiences-packages-profile-img" style="background-image: url('{% static 'images/img19.jpg' %}')"></div>
            <div class="experiences-packages-profile-details">
                <h3>Name</h3>
                <hr>
                <div class="experiences-packages-profile-locations">Uganda, Kenya, Tanzania</div>
            </div>
        </a>
    </div>
</section>

{% comment %} <section class="experience-variety-section">
    <div class="experience-variety-img"  style="background-image: url('{% static 'images/img33.jpg' %}')">
        <h1>Variety is what we offer</h1>
    </div>
    <div class="experience-variety-details">
        Our accommodation is both luxurious and authentic. We promise unrivalled comfort and exclusivity while staying true to the vibrant soul and spirit of each, unique destination. Our private game viewing areas have limits on guest numbers, meaning fewer vehicles and people, with more intimate and up-close encounters with wildlife in their natural habitat.
    </div>
    <a href=""><i class="fa fa-angle-right"></i>VIEW ALL PACKAGES</a>
</section> {% endcomment %}

<section class="bloging-article-categories blogs">
    <h1>stories and blogs</h1> 
    <div class="bloging-articles">
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>article name</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>article name</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>article name</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>article name</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
    </div>
    <a href="{% url 'client:main_blog_page' %}" class="view-all-blogs"> <i class="fas fa-angle-right"></i> View all blogs</a>

</section>


{% include 'partials/client/client_footer.html' %}
{% endblock content %}

